/*this will show the first name, last name and address at the right side of the page.*/

#result {
    display: none;
}

h4 {
    cursor: pointer;
    color: #0088cc;
}
h4: hover {
    text-decoration: underline;
}

